{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="modal-dialog">
    <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
            <h3 class="modal-title">Submit video</h3>
        </div>

        <!-- body (form) -->
        <div class="modal-body">
            <form method="post" action="{% url 'index' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="url">Video URL</label> <br />
                    {{ form.url }}
                </div>
                <div class="form-group">
                    <label for="pwd">Email to send the link to</label> <br />
                    {{ form.email }}
                </div>

                <!-- footer -->
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary btn-block" value="CONVERT" />
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
