{% extends "website/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% for offer in object_list %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ offer.image.url }}" width="300">
        </div>
        <div class="col-md-6">
            Title: {{ offer.title }} </br>
            Category: {{ offer.category.name }} </br>
            Author: {{ offer.author }} </br>
            From: {{ offer.created_at }}
        </div>
        <div class="col-md-2">
            {% if offer.author == request.user %}
            <form method="GET" enctype="multipart/form-data" action="{% url 'website:edit-offer' offer.id %}">
                <button class="btn btn-warning" type="submit">Редактирай</button>
            </form>
            </br>
            <form method="POST" enctype="multipart/form-data" action="{% url 'website:delete-offer' offer.id %}">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Изтрий </button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

{# Probably the easiest implementation of pagination ever #}
{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
</ul>
{% endif %}
{% endblock content %}
