{% extends "base.html" %}
{% load markdown %}

{% block content %}
{{ block.super }}
<p>Title:<b>{{ blog.title }}</b></p>
<p>Created at: <b>{{ blog.created_at }}</b></p>
<p>Last updated at:<b>{{ blog.updated }}</b></p>
<p>Tags:<b>{{ blog.tags.all|tags }}</b></p>
{% autoescape off %}
<p>Content:<b>{{ blog.content|markdown }}</b></p>
{% endautoescape %}
<p>Comments:</p>
<hr />
{% for comment in comments %}
<p>Author:{{ comment.author_email }}</p>
<p>{{ comment.content }}</p>

<hr />
{% endfor %}

<p>Add Comment</p>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add Comment">
</form>
{% endblock content %}
